:root {
  --darker-green: #165b33;
  --green: #146b3a;
  --yellow: #f8b229;
  --red: #ea4630;
  --rednose: #bb2528;
  --night-sky: #235e6f;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, min-content));
  grid-auto-rows: 3vh;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
}

div:nth-child(2) {
  background-color: var(--darker-green);
}

div:nth-child(4) {
  background-color: var(--green);
}

div:nth-child(6) {
  background-color: var(--night-sky);
}

div:nth-child(8) {
  background-color: var(--red);
}

div:nth-child(10) {
  background-color: var(--rednose);
}

div:nth-child(12) {
  background-color: var(--yellow);
}
