.grid {
  color: white;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  grid-auto-rows: 100px;
  margin-bottom: 50px;
}

.item:nth-child(odd) {
  background-color: coral;
}

.item:nth-child(even) {
  background-color: cornflowerblue;
}
